*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  height: auto;
  min-width: 250px;
  min-height: 150px;
  background-color: wheat;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#brand {
  font-size: 28px;
  color: grey;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-btn {
  color: white;
  background-color: brown;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60%;
}

#add-btn:hover {
  background-color: grey;
}

input[type="text"] {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 60%;
  text-align: center;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #555;
}

#result-display {
  margin: 20px 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.todo-item-checkbox {
  margin-right: 10px;
}

.close-btn {
  color: #fff;
  background-color: firebrick;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: #cc0000;
}
.edit-btn{
  color: #fff;
  background-color: green;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
/* .register-container{
  width: 100%;
} */

#logBtn{
  border: red;
  text-decoration: none;
  padding: 30px auto;
  font-weight: 900;
  margin: 20px auto;
}
.logInBtn{
  text-decoration: none;
  margin: 20px auto;
}

.firstClass{
  margin-bottom: 20px;
  animation: heartBeat 2s infinite;
  color: white;
}
.hero p{
  text-decoration: none;
  font-weight: 800;
}
.hero p {
  color: white;
  text-decoration: wavy;
}
.entrance{
  margin: 30px auto;
  color: whitesmoke;
}

.regBtn{
  padding: 10px;
}

.btns{
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px auto;
}
.input-box{
  background-color: rgba(0, 0, 0, 0.575);
  width: 400px;
  padding: 20px;
  color: white;
}

.log-container{
  background-image: url('https://i.pinimg.com/236x/dd/9e/6b/dd9e6b3417414eff234c837202bc02ca.jpg');
}
.cont{
  background-image: url('https://i.pinimg.com/236x/7d/94/10/7d9410111fd4223ad457990c4c0553c2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.image{
  background-image: url('https://i.pinimg.com/236x/b6/5e/6e/b65e6ea865f6867cd51cd3acc983339e.jpg');
  background-repeat: repeat-y;
  background-color: burlywood;
}